#mt-info {
  float: right;
  width: 18%;
  height: 100%;
  background-color: #1A1E22;
  color: white;
  overflow: scroll;
}

#mt-info img {
  width: 100%;
}

@media (min-width: 6000px) {
  #mt-info h1 {
    font-size: 90px;
  }
  #mt-info p {
    font-size: 32px;
  }

  #mt-info .controller {
    font-size: 40px;
    font-weight: bold;
  }
}



#mt-info h1 {
  color: white;
}



#area svg {
  width: 82%;
  float: left;
}

::-webkit-scrollbar {
  display: none;
}

p {
  margin: 20px;
}

.article-label {
  font: 36px sans-serif;
}

#active_languages {
  position:absolute;
  top: 50;
  left:0;
  background-color: rgba(41, 128, 185, 0.9);
  padding: 10px;
  /*opacity: 0.5;*/
}

#active_languages ul {
  padding: 0;
  margin: 0;
}

#active_languages li{
  list-style-type: none;
  font-size: 62px;
  line-height: 70px;
}

.newuser-label {
  font-size: 3em;
}

#control_url {
  font-size: 2em;
  font-weight: bold;
}

#current_token {
  font-size: 1.5em;
}

#current_token .token {
  font-weight: bold;
}

#qrcode {
  background-color: white;
  padding: 10px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}