<h1>Current Changes</h1>
<p id="changes_play_pause"><%= link_to 'Pause', '#changes_play_pause', id: :changes_pause, class: [:btn] %><%= link_to 'Play', '#changes_play_pause', id: :changes_play, class: [:btn] %></p>
<div id="wikimon_changes">
  <ul id="rc-log"  class="nav nav-tabs nav-stacked"></ul>
</div>