<h1>Current Changes</h1>
<p><%= link_to 'Pause', '#', id: :changes_pause, class: [:btn] %><%= link_to 'Play', '#', id: :changes_play, class: [:btn] %></p>
<div id="wikimon_changes">
  <ul id="rc-log"  class="nav nav-tabs nav-stacked"></ul>
</div>