<div class="navbar">
  <div class="navbar-inner">
    <span class="brand" href="#">Listen to Wikipedia Controller</span>
    <!-- <ul class="nav">
      <li><a href="#">About</a></li>
    </ul> -->
  </div>
</div>