<div class="navbar">
  <div class="navbar-inner">
    <%= link_to 'Listen to Wikipedia Controller', root_path, class: :brand %>
    <ul class="nav">
      <li>
        <%= link_to 'About', about_path %>
      </li>
    </ul>
  </div>
</div>